main {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;

}

section {
    background-color: #f6f3f2;
    width: 100%;
    height: 100%;
    ;

}

.top {
    background-color: #e4dcd3;
    width: 100%;
    height: 360px;

}

.path {
    /* border: 1px solid; */
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 8px;
    font-weight: 500;
}

.path>li {
    position: relative;
    font-size: 13px;
    font-weight: bold;
}

.path>li::after {
    content: ">";
    margin: 0 8px;
    color: #666;
}

.path>li:last-child::after {
    content: "";
    /* 마지막 항목엔 > 안 보이게 */
}

.top-content {
    background-color: rgba(246, 243, 242, .7);
    width: 100;
    height: 270px;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top-content>h1 {
    margin: 0;
    font-size: 58px;

}

.top-content>p {
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: -.4px;
    color: #000;
    line-height: normal;
    font-weight: 500;
}